DATABASE_URL=postgresql://admin:password@localhost:5432/shortener_db
DB_USER=admin
DB_PASSWORD=password
DB_NAME=shortener_db
PORT=3000
NODE_ENV=development
SAFE_BROWSING_API_KEY=
TURNSTILE_SECRET_KEY=
